html, body, div#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
}

.top-container {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  border-bottom: 1px solid lightgray;
}

button, input[type="button" i], input[type="submit" i] {
  font-size: 14px;
  height: 25px;
  border-radius: 3px;
}

button:focus, input[type="button" i]:focus {
  outline: 0;
} 

.top-bar {
  padding: 7px 25px 0;
  background-color: #fff9ea;
  border-bottom: 1px solid #eee;
}

.top-bar form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 25px;
  margin-bottom: 10px;
}

.top-bar input[type="text"] {
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding-left: 3px;
}

.top-bar button, .top-bar input {
  margin-left: 5px;
}

.has-token, .has-token button {
  color: gray;
}

.no-token {
  color: black;
}

.results-container {
  padding: 20px 25px 15px;
}

.generated-curl {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.generated-curl-header {
  display: flex;
  justify-content: space-between;
}

.generated-curl-header h2 {
  margin: 0;
  padding: 0;
}

.path-not-complete, .body-not-complete {
  padding-top: 10px;
  font-weight: bold;
}

.path-not-complete:before, .body-not-complete:before {
  content: '\2715';
  display: inline-block;
  color: red;
  padding: 0 6px 0 0;
}

.path-not-complete:empty, .body-not-complete:empty {
  display: none;
}

.path-complete:before, .body-complete:before {
  content: '\2713';
  display: inline-block;
  color: green;
  padding-right: 6px;
}

.clear-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.clear-div input[type="button" i] {
  margin-right: 6px;
}

.run-button, .reset-button {
  font-size: 16px;
  display: inline-block;
}

.run-button input[type="button" i] {
  margin-right: 8px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: min-content;
  height: 100%;
  overflow-y: visible;
  flex: auto;
}

.horizontal-gutter {
  background-color: #eeeeee;
  height: 5px;
  border: 1px solid lightgray;
  padding: 3px;
}

.vertical-gutter {
  background-color: #eeeeee;
  width: 5px;
  border: 1px solid lightgray;
}

.left-panel, .right-panel {
  justify-content: space-between;
  overflow: scroll;
  padding: 0 25px 10px;
  height: 100%;
}

.left-panel {
  flex: 1 1 0%;
  width: 50%;
  padding-right: 2.5%;
}

.right-panel {
  flex: 1 1 0%;
  width: 50%;
  padding-left: 2.5%;
}

pre {
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 25px;
  background: #e2e2e2;
  border: 1px solid #d0d0d0;
  color: #3B5998;
  margin: 10px 0;
  outline: 0;
  padding: 15px 20px 15px 18px;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.pathinput {
  width: 100%;
  margin-bottom: 20px;
}

.pathinput pre {
  font-size: 20px;
  color: black;
  padding: 10px;
}

.pathinput pre input[type="text"] {
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding-left: 3px;
  width: 80px;
  font-family: monospace;
}

.docslink {
  margin: 10px 3px;
}

table {
  border-collapse: collapse;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e2e2e2;
  color: black;
}

table th, table td {
  border: 1px solid #d3d3d3;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

a:link {
  text-decoration: none;
  color: #2A5DB0;
}

a:visited {
  text-decoration: none;
  color: #2A5DB0;
}

a:hover {
  text-decoration: underline;
  color: #2A5DB0;
}

a:active {
  text-decoration: underline;
  color: #2A5DB0;
}
