:root {
  --dark-gray-color: #283048;
  --teal-color: #50E3C2;
  --light-gray-color: lightgray;
  --white-color: #ffffff;
}

html,
body,
div#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: var(--dark-gray-color);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--dark-gray-color);
}

a:hover,
a:active {
  text-decoration: none;
  opacity: 0.8;
}

.top-bar a {
  color: var(--teal-color);
  border-bottom-color: var(--teal-color);
}

button,
.top-bar input:not([type="text"]),
input[type="button"] {
  -webkit-appearance: none;
  background: var(--teal-color);
  color: var(--dark-gray-color);
  border: 2px solid var(--teal-color);
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition-duration: 0.5s;
}

button:focus,
input[type="button"]:focus {
  outline: 0;
}

button:not(.hover-button):hover,
.top-bar input:not([type="text"]):hover,
input[type="button"]:hover {
  background: var(--dark-gray-color);
  border: 2px solid var(--teal-color);
  color: var(--teal-color);
  transform: scale(0.9);
}

.container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.top-bar {
  padding: 15px;
  background: linear-gradient(to left, #677175, var(--dark-gray-color));
  color: var(--white-color);
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.token-div p {
  margin-left: 10px;
}

.token-div form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.token-div input[type="text"] {
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding-left: 8px;
  height: 36px;
  font-size: 16px;
}

.token-div button {
  margin-left: 15px;
}

.token-div input {
  margin-left: 10px;
  -webkit-appearance: none;
  height: 40px;
}

.user-div {
  display: flex;
  align-items: center;
}

.user-div button {
  margin-right: 10px;
  padding: 0;
}

.user-div img {
  padding: 3px 3px 0 3px;
}

.user-div p {
  padding-top: 5px;
  padding-right: 10px;
  margin: 0;
}

.user-div span {
  color: var(--teal-color);
  padding-left: 5px;
  padding-right: 5px;
}

.results-container {
  padding: 20px 25px 15px;
}

.generated-curl {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.generated-curl-header {
  display: flex;
  justify-content: space-between;
}

.generated-curl-header h2 {
  margin: 0;
  padding: 0;
}

.bottom-container .path-not-complete,
.bottom-container .body-not-complete {
  padding-top: 10px;
  font-weight: bold;
}

.path-not-complete:before,
.body-not-complete:before {
  content: '\2715';
  display: inline-block;
  color: red;
  padding: 0 6px 0 0;
}

.path-not-complete:empty,
.body-not-complete:empty {
  display: none;
}

.path-complete:before,
.body-complete:before {
  content: '\2713';
  display: inline-block;
  color: green;
  padding-right: 6px;
}

.clear-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  margin-bottom: 2em;
}

.clear-div input[type="button"] {
  margin-right: 6px;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-row .path-not-complete, .button-row .include-headers, .button-row .include-status {
  padding-left: 10px;
}

.run-button,
.reset-button {
  font-size: 16px;
  display: inline-block;
}

.run-button input[type="button"] {
  margin-right: 10px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  overflow-y: visible;
  flex: auto;
}

.horizontal-gutter {
  background-color: #eeeeee;
  height: 2px;
  padding: 3px;
  border: 1px solid var(--light-gray-color);
}

.vertical-gutter {
  background-color: #eeeeee;
  width: 2px;
  padding: 2.5px;
  border: 1px solid var(--light-gray-color);
}

.left-panel,
.right-panel {
  justify-content: space-between;
  padding: 0 25px;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.left-panel {
  width: 60%;
}

.right-panel {
  width: 40%;
}

pre {
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 25px;
  background: #e2e2e2;
  border: 1px solid #d0d0d0;
  color: var(--dark-gray-color);
  margin: 10px 0;
  outline: 0;
  padding: 15px 20px 15px 18px;
}

.status pre,
.headers pre,
.data pre {
  font-size: 15px;
}

.status-buttons,
.headers-buttons,
.data-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-buttons p,
.headers-buttons p,
.data-buttons p {
  font-weight: bold;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.pathinput {
  width: 100%;
  margin-bottom: 20px;
}

.pathinput pre {
  font-size: 20px;
  color: black;
  padding: 10px;
}

.pathinput pre input[type="text"] {
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding-left: 3px;
  width: 80px;
  font-family: monospace;
}

.docslink {
  margin: 10px 3px;
}

table {
  border-collapse: collapse;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e2e2e2;
  color: black;
}

table th,
table td {
  border: 1px solid #d3d3d3;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #dddddd;
}

.hover-button {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.hover-button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.hover-button:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  right: 105%;
  margin-right: 15px;
}
